<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='{{ site.baseurl }}about'>
                <img id="avatar" src="/assets/images/daniel_at_home.jpg"/>
            </a>
            <div class="author_name">{{ site.author }}</div>
            <div class="site_description">{{ site.description }}</div>
        </header>
    </section>
    <section>
      <a href="https://www.linkedin.com/pub/daniel-bushman/5/37/42" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Daniel Bushman's LinkedIn profile" style="vertical-align:middle;" border="0"></span></a>
    </section>
</div>
