<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='{{ site.baseurl }}about'>
                <img id="avatar" class="2x" src="/assets/images/avatar.png"/>
            </a>
            <h1>{{ site.author }}</h1>
            <!-- <h2>{{ site.description }}</h2> -->
            <div style="text-align: center">
              <div style="margin: auto">
                <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@uxdev">Daniel Bushman</a>
              </div>
            </div>
        </header>
    </section>
</div>
