---
layout: default
disqus: true
archive: true
---

{% if false %}
    <article class="post inverse">
        <header style="background-image: url('{{page.header_img}}');">
           <div class="faux-wrapper">
                <h1>{{ page.title }}</h1>
                {{ page.description }}
            </div> 
        </header>
        <section id="post-body">
            {{content}}
        </section>
    </article>
{% else %}    
    <article class="post">
        <header>
            <h1>{{ page.title }}</h1>
            {{ page.description }}
        </header>
        <section id="post-body" class="clearfix">
            {{content}}
        </section>
    </article>
{% endif %}
<footer id="post-meta" class="clearfix">
 
</footer>

<!-- Disqus comments -->
{% if page.disqus %}
    <div class="archive readmore">
        <section id="sharing">
            {% include share.html %}
        </section>
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}


